body{
    margin: 10px;
    padding: 0;
    border: 0;
    font-family: monospace;
}
.nav{
    background-color: #C50A23;
    width: calc(100vw-20px);
    height: calc(20vh);
    border-bottom: white solid 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline: 2px solid black;
    position: relative;
}
.izq{

  
    border-bottom-right-radius: 100% 100%;
    border-bottom: 7px solid #421419;
    border-right: 7px solid #421419;
}
.relieve{
    background-color:rgba(255,255,255,0);
    width: 50px;
    height: 50px;
    position: absolute;
}
.ext{
    width: 100px;
    height: 100px;
}
.der{
    justify-content: flex-end;
    border-bottom-left-radius: 100% 100%;
    border-bottom: 7px solid #421419;
    border-left: 7px solid #421419;

}
.circulos{
    display: flex;
    flex: 1;
    border:none;
}
.contenedor_2{

    box-sizing: content-box;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100px;	
    justify-content: space-between;


}
.contenedor{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
}
.pokebola{
    align-items: end;
    justify-content: center;
    width: calc(30vh);
    height: calc(30vh/2);
    background-color: black;
    border-top-left-radius: 50% 100%;/* el primer valor es el ancho y el segundo el alto*/
    border-top-right-radius: 50% 100%;
    border: white solid 5px;
    border-bottom: none;
    transform: translateY(5px);
  
}
.busqueda{
    box-sizing: content-box;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: bottom;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color:rgba(212, 232, 233, 1);
}
.icono-busqueda{
    box-sizing: content-box;
    width: 25px;
    height: 25px;

}
.pokemon-busqueda{
    width:130px;
    margin-bottom: 5px;
}
.datos{
    margin: 0 10px 0 10px;
    width: calc(100vw-20px);
    height: calc(100vh);
    background-color:rgba(212, 232, 233, 0.8);
    border-left: #76C1BE solid 3px;
    border-right: #76C1BE solid 3px;
    padding-top: 10px;
    overflow-y:scroll;
    
}

.pokedata{
    box-sizing: content-box;
    height: auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px  ,1fr));/*el autofit ocupa el maximo espacio, el autofill no*/
    background-color:#88D5E2;
    
    margin: 10px;
    border-radius:10px;
    border:1px solid white;
}
.pokeimg{
    display: flex;
    align-self: center;
    justify-content: center;
}
.img{
    box-sizing: content-box;
    width: 100%;
    height: auto;
}
.pokeinfo{
    margin:10px;
}

h1{
    color: white;
    font-size: 40px;

}
ul{
    padding-left: 5px;
}
ul li{
    color: #08428D;
    font-size: calc(2vw + 10px);
    display:flex;
    border-bottom: 1px solid white;
    margin-top: 20px;
    justify-content: space-between;
    font-weight: bold;
}

.stats{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    box-sizing: content-box;
    column-gap: 4px;
    background-color:#88D5E2;
    margin: 10px;
    padding: 10px;
}

.barra-stats li{
    background-color:white;
    height: 10px;
    margin-top: 5px;
    border:none;
}
span{
    font-size: calc(2vw + 2px);
    color: black;
    font-weight: bold;
}



footer{
    width: calc(100vw-20px);
    height: calc(20vh);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #C50A23;
    border-bottom: white solid 5px;
    transform: rotateX(180deg);
    outline: 2px solid black;
}
